<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
</head>
<body>
<div class="content">
    <h1 style="font-size: 16px; color: black; text-align: center">Protected Home Page</h1>
    <p style="font-size: 16px; color: black; text-align: center">
        <a href="/logout">Log out</a>
    </p>
    <form th:action="@{/monitor/items}" method="GET" style="font-size: 16px; color: black; text-align: center">
        <input type="submit" value="Item list">
    </form>
    <form th:action="@{/records}" method="GET" style="font-size: 16px; color: black; text-align: center">
        <input type="submit" value="get record">
    </form>
</div>
</body>
</html>