<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register new user</title>
</head>
<body>
<!--<div th:if="${passwordsNotEquals != null}"-->
<!--     style="font-family: monospace; color: #ff111b; text-align: center; font-size: 20px">-->
<!--    Passwords not equals, please retype them!-->
<!--</div>-->
<div class="content" style="text-align: center; padding-top: 200px">
    <!--    <div th:if="${message}">-->
    <!--        <div th:text="${message}"></div>-->
    <!--    </div>-->
    <form method="POST" th:action="@{/register}" id="registration-form" th:object="${userDto}">

        <h2>Register new user</h2>
        <p><label> Username: <br/><input th:field="*{userName}" type="text" name="userName"/></label></p>
        <p><label> Email: <br/><input th:field="*{email}" type="text" name="email"/></label></p>
        <p><label> Password: <br/><input th:field="*{password}" type="password" name="password"/></label></p>
        <label> RetypePassword: <br/><input type="text" name="retypedPassword"></label>
        <p>
            <button type="submit" class="primary">Register</button>
        </p>
    </form>
</div>
</body>
</html>